snippet tii
	Ti.API.info(${1})
snippet tid
	Ti.API.debug(${1})
snippet tiu
	Ti.UI.
snippet til
	${1:LabelName} = Ti.UI.createLabel(
		text: "${2:text}"
	)
snippet tiw
	${1:WindowName} = Ti.UI.createWindow(
		background: "#fff"
		title: "${2:title}"
	)
snippet tie
	${1:origin}.addEventListener "click", (e) ->
		${2:listen to me}

