# jQuery
snippet <
	<${1:tag}>${2}</$1>
# jQuery
snippet jq
	$(function () {
		${1}
	});
snippet $
	$(function () {
		${1}
	});
# return false
snippet rf
	return false;
# Anonymous Function
snippet fu
	function${1}(${2}) {
		${3}
	}${4}
snippet cl
	console.log(${1});
