# paragraph
snippet p
	<p>${1}</p>
# tr
snippet tr
	<tr>
		${1}
	</tr>
# td
snippet td
	<td${1}>
		${2}
	</td>
# table
snippet table
	<table${1}>
		${2}
	</table>
# strong
snippet strong
	<strong>${1}</strong>
