# paragraph
snippet p
	<p>${1}</p>
# tr
snippet tr
	<tr>
		${1}
	</tr>
# td
snippet td
	<td${1}>
		${2}
	</td>
# li
snippet li
	<li>
		${1}
	</li>	
# ul
snippet ul
	<ul>
		${1}
	</ul>
# table
snippet table
	<table${1}>
		${2}
	</table>
# strong
snippet strong
	<strong>${1}</strong>
# div normal
snippet div
	<div ${1}>
		${2}
	</div>
snippet divc
	<div class="${1:name}">
		${2}
	</div>
snippet divi
	<div id="${1:name}">
		${2}
	</div>
snippet br
	<br />